<div class="login-container">
    <div class="container-heading">
        <h2 class="text-center">Register as a Worker</h2>
        <p class="text-center">Create your profile to start getting jobs in your area.</p>
    </div>
    <form>
        <div class="row g-4">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" placeholder="e.g. Ramesh Kumar">
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Phone Number</label>
                    <input type="number" class="form-control" placeholder="e.g. 987654XXXX">
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Your Skills/Profession</label>
                    <select class="form-control">
                        <option selected>Select a profession</option>
                        <option>Cleaner</option>
                        <option>Painter</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Experience(Years)</label>
                    <input class="form-control" type="number">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label>Area/City</label>
                    <input class="form-control" type="text" placeholder="e.g. Sector-23, Gurugram">
                    <small class="form-text text-muted">Where do you mostly work?</small>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label>About Your Work</label>
                    <textarea class="form-control" rows="4" cols="25" placeholder="Describe what kind of work you do, your specialities, etc."></textarea>
                </div>
            </div>
        </div>
        <button class="btn btn-primary w-100 mt-4 py-2">Create Profile</button>
    </form>
</div>