<div class="card p-3">
<div class="d-flex gap-3">
<div class="img-wrapper">
    <img src="../../../assets/Images/home.jpg" alt="Worker img" height="80" width="80">
</div>
<div class="title">
    <h5>Ramesh Kumar</h5>
    <p class="text-primary">Painter</p>
    <p>
        <i class="bi bi-geo-alt"></i>
        Andheri, Mumbai
    </p>
</div>
<div class="rating ms-auto">
    <i class="bi bi-star-fill text-warning"></i>
    <span>4.8</span>
</div>
</div>
<div class="mt-2">
 <p class="text-muted">Expert in interior and exterior house painting. Fast and clean work with quality materials.</p>
 <div class="worker-skill d-flex gap-3 text-muted">
    <p>Wall Painting</p>
    <p>Water Proofing</p>
    <p>+1</p>
 </div>
 <hr>
</div>
<div class="d-flex justify-content-between">
<p><span class="text-muted">Experience:</span> 5 yrs</p>
<button class="btn btn-primary">View Profile</button>
</div>
</div>