<div class="home_container bg-secondary d-flex align-items-center">
        <div class="ms-4">
            <h1 class="fw-bolder">Find trusted local <span class="text-primary">workers</span> in minutes</h1>
            <p class="text-muted fs-5 mt-1">Connect with verified painters, plumbers, electricians, and more daily wage professionals near your
                location.</p>
            <div class="bg-white search d-flex gap-2" >
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-search"></i>
                  </span>
                  <input type="text" class="form-control" #serviceInput placeholder="What service do you need?" required>
                </div>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-geo-alt"></i>
                  </span>
                  <input type="text" class="form-control" #locationInput placeholder="Your location">
                </div>
                <button class="btn btn-primary px-4" (click)="search(serviceInput.value, locationInput.value)">Search</button>
            </div>
            <div class="d-flex gap-3 mt-5 filter">
                <p>Popular:</p>
                <div><a (click)="search('plumber', '')">Plumber</a></div>
                <div><a (click)="search('electrician', '')">Electricians</a></div>
                <div><a (click)="search('Painter', '')">Painter</a></div>
                <div><a (click)="search('Gardener', '')">Gardener</a></div>
            </div>
        </div>
        <div class="img_container">
          <img src="../../../assets/Images/home.jpg" alt="Image" height="500" width="700">
          <div class="verified">
             <div>
                <i class="bi bi-star-fill text-success"></i>
             </div>
            <div>
                <h6>Verified Professionals</h6>
                <p>Over 500+ workers registered</p>
            </div>
          </div>
        </div>
    </div>

    <!--Categories section-->
<div class="mt-5 mx-4">
  <div class="d-flex justify-content-between mb-3">
    <h2>Browse Categories</h2>
    <a class="text-primary" href="/workers">View All<i class="bi bi-arrow-right"></i></a>
  </div>
  <div class="row g-4">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card card" (click)="search('painter', '')">
        <div class="category-icon bg-secondary"><i class="bi bi-paint-bucket text-primary"></i></div>
        <p class="fw-bold mt-2">Painter</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card card" (click)="search('plumber', '')">
        <div class="category-icon bg-secondary"><i class="bi bi-paint-bucket text-primary"></i></div>
        <p class="fw-bold mt-2">Plumber</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card card" (click)="search('electrician', '')">
        <div class="category-icon bg-secondary"><i class="bi bi-paint-bucket text-primary"></i></div>
        <p class="fw-bold mt-2">Electrician</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card card" (click)="search('gardener', '')">
        <div class="category-icon bg-secondary"><i class="bi bi-paint-bucket text-primary"></i></div>
        <p class="fw-bold mt-2">Gardener</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card card" (click)="search('Carpenter', '')">
        <div class="category-icon bg-secondary"><i class="bi bi-paint-bucket text-primary"></i></div>
        <p class="fw-bold mt-2">Carpenter</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card card" (click)="search('barber', '')">
        <div class="category-icon bg-secondary"><i class="bi bi-paint-bucket text-primary"></i></div>
        <p class="fw-bold mt-2">Barber</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card card" (click)="search('mason', '')">
        <div class="category-icon bg-secondary"><i class="bi bi-paint-bucket text-primary"></i></div>
        <p class="fw-bold mt-2">Mason</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="category-card card" (click)="search('cleaner', '')">
        <div class="category-icon bg-secondary"><i class="bi bi-paint-bucket text-primary"></i></div>
        <p class="fw-bold mt-2">Cleaner</p>
      </div>
    </div>
  </div>
</div>