<div class="home_container bg-secondary d-flex align-items-center">
        <div class="ms-4">
            <h1 class="fw-bolder">Find trusted local <span class="text-primary">workers</span> in minutes</h1>
            <p class="text-muted fs-5 mt-1">Connect with verified painters, plumbers, electricians, and more daily wage professionals near your
                location.</p>
            <div class="bg-white search d-flex gap-2">
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-search"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="What service do you need?">
                </div>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-geo-alt"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="Your location">
                </div>
                <button class="btn btn-primary px-4" [routerLink]="['/workers']">Search</button>
            </div>
            <div class="d-flex gap-3 mt-5 filter">
                <p>Popular:</p>
                <div><a>Plumber</a></div>
                <div><a>Electricians</a></div>
                <div><a>Painter</a></div>
                <div><a>Gardener</a></div>
            </div>
        </div>
        <div class="img_container">
          <img src="../../../assets/Images/home.jpg" alt="Image" height="500" width="700">
          <div class="verified">
             <div>
                <i class="bi bi-star-fill text-success"></i>
             </div>
            <div>
                <h6>Verified Professionals</h6>
                <p>Over 500+ workers registered</p>
            </div>
          </div>
        </div>
    </div>
