 .filter{
    div{
    background-color: white;
    padding:0 12px;
    border:1px solid #ff4500;
    border-radius:20px;
    display:flex;
    align-items: center;
    margin-top:-5px;
    a{
        text-decoration: none;
        color:#ff4500;
    }
    }
   }
  .slot-container{
    margin: 0 auto;
    padding-top:97px;
    .profile{
        padding:37px;
        img{
            border-radius:50px;
        }
        .title{
           p{
            line-height:0.5;
        }
        }
    }
    .card{
        max-width:600px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
  } 
  .rating{
    padding:37px;
  }
 .rating-container{
//   display: flex;
//   gap: 30px;
   padding: 20px;
   border: 1px solid #ddd;
   background-color: hsl(210 40% 96%);
  border-radius: 10px;
//   width: 400px;
 } 
.rating-breakdown {
  flex: 1;
}

.rating-row {
  display: flex;
  align-items: center;
}

.progress {
  flex: 1;
  height: 8px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: gold;
}
.contact-card{
    position: sticky;
    top: 100px;
    align-self: flex-start;
    .card{
        max-width:300px;
        box-shadow: 0 1px 4px rgb(255, 69, 0.5);
        border-radius: 15px;
    }
}
.slots {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.slot {
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.slot:hover {
  background-color: #f5f5f5;
}

.slot.selected {
  background-color: #ff4500;
  color: white;
}

.slot.disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

.summary {
  margin-top: 15px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .slot-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-card {
    position: static;
    width: 100%;
    h4{
      display:none;
    }
    .card{
     max-width:600px;
     margin: 0 auto;
  }
  }
}
@media(max-width:450px){
  
}